<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916795768641-16s0e5rebscinkqaa09fqprdv811hnmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916795768641-16s0e5rebscinkqaa09fqprdv811hnmt</string>
	<key>API_KEY</key>
	<string>AIzaSyA8kqAkI8zPe-ANY6L93lRp_5li99W1kew</string>
	<key>GCM_SENDER_ID</key>
	<string>916795768641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobiaslewinzon.ZapierTestApp</string>
	<key>PROJECT_ID</key>
	<string>zapiertestapp</string>
	<key>STORAGE_BUCKET</key>
	<string>zapiertestapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916795768641:ios:fb9cb3dfe089bd85fc6bc0</string>
	<key>DATABASE_URL</key>
	<string>https://zapiertestapp.firebaseio.com</string>
</dict>
</plist>